---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h4>
				I aspire to create a better world by spreading positivity and bringing a touch of happiness wherever I go.
			</h4>
			<p>
				Hello! I'm a software engineer currenlty working in Japan. I'm passionate about creating beautiful, user-friendly, and accessible applications. I'm also a huge fan of open-source software and I love to contribute to the community whenever I can.
			</p>
		</main>
		<Footer />
	</body>
</html>
