---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h4>
				Hello World!
			</h4>
			<p>
				Hello! I'm a software engineer currently working in Japan.

                I don't love coding, but I do it, and it becomes kind of fun after a while.
			</p>
		</main>
		<Footer />
	</body>
</html>
