---
const today = new Date();
---

<footer
	class="py-8 px-6 pb-24 md:pb-8 text-center text-[var(--light-slate)] font-mono text-xs"
>
	<div class="mb-2.5">
		Designed & Built by <span class="text-[var(--green)]"
			>{today.getFullYear()} Madhu Sudhan Subedi</span
		>
	</div>ghts reserved.
</footer>
