---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="navbar">
	<nav>
		<div class="nav-links">
			<ol>
				<li><a href="/"><span>01.</span> Home</a></li>
				<li><a href="/blog"><span>02.</span> Blog</a></li>
				<li><a href="/weekly"><span>03.</span> Weekly</a></li>
				<li><a href="/notes"><span>04.</span> Notes</a></li>
			</ol>
		</div>
	</nav>
	
	<div class="home-subnav">
		<a href="#about">About</a>
		<a href="#experience">Experience</a>
		<a href="#projects">Projects</a>
		<a href="#skills">Skills</a>
	</div>
</header>

<style>
	.navbar {
		position: fixed;
		top: 0;
		z-index: 11;
		width: 100%;
		height: 70px;
		padding: 0px 50px;
		background-color: rgba(10, 25, 47, 0.85);
		backdrop-filter: blur(10px);
		transition: var(--transition);
	}
	
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		width: 100%;
		height: 100%;
		color: var(--lightest-slate);
		font-family: var(--font-mono);
		counter-reset: item 0;
		z-index: 12;
	}
	
	.logo-link {
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--green);
		width: 42px;
		height: 42px;
		font-size: 20px;
		font-weight: 700;
	}
	
	.logo-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		height: 42px;
		border: 2px solid var(--green);
		border-radius: var(--border-radius);
	}
	
	.nav-links {
		display: flex;
		align-items: center;
	}
	
	.nav-links ol {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	
	.nav-links ol li {
		margin: 0 5px;
		position: relative;
		counter-increment: item 1;
		font-size: var(--fz-xs);
	}
	
	.nav-links ol li a {
		padding: 10px;
		color: var(--lightest-slate);
	}
	
	.nav-links ol li a:hover {
		color: var(--green);
	}
	
	.nav-links ol li a span {
		color: var(--green);
		font-size: var(--fz-xxs);
		margin-right: 5px;
	}
	
	.social-links {
		display: flex;
		align-items: center;
		margin-left: 15px;
	}
	
	.social-links a {
		padding: 10px;
		color: var(--lightest-slate);
	}
	
	.social-links a:hover {
		color: var(--green);
		transform: translateY(-3px);
	}
	
	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border-width: 0;
	}
	
	@media (max-width: 768px) {
		.navbar {
			padding: 0 25px;
		}
		
		.nav-links ol {
			display: none;
		}
	}
</style>
